---
http_interactions:
- request:
    method: get
    uri: https://api.spyse.com/v3/data/domain/related/domain?domain=example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CENSORED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"items":[{"domain":{"alexa_info":{"rank":null},"alexa_rank_updated_at":null,"cert_summary":{"fingerprint_sha256":"9250711c54de546f4370e0c3d3a3ec45bc96092a25a4a71a1afa396af7047eb8","issuer_dn":{"C":"US","CN":"DigiCert
        SHA2 Secure Server CA","L":"","O":"DigiCert Inc","OU":"","ST":"","emailAddress":"","raw":"C=US,
        O=DigiCert Inc, CN=DigiCert SHA2 Secure Server CA"},"subject_dn":{"C":"US","CN":"www.example.org","L":"Los
        Angeles","O":"Internet Corporation for Assigned Names and Numbers","OU":"Technology","ST":"California","businessCategory":"","emailAddress":"","jurisdictionCountry":"","jurisdictionStateOrProvince":"","postalCode":"","raw":"C=US,
        ST=California, L=Los Angeles, O=Internet Corporation for Assigned Names and
        Numbers, OU=Technology, CN=www.example.org","serialNumber":"","street":""},"tls_version":"TLSv1.2","validity_end":"2020-12-02T12:00:00Z"},"cert_summary_updated_at":null,"dns_records":{"A":[{"ip":"93.184.216.34","as_num":15133,"as_org":"EDGECAST","isp":"Verizon
        Business","org":"Verizon Business","city_name":"Norwell","country":"United
        States","country_iso_code":"US","location":{"lat":42.1596,"lon":-70.8217},"postal_code":"02061","region_iso_code":"MA","region_name":"Massachusetts","tz":"America/New_York","updated_at":null}],"AAAA":["2606:2800:220:1:248:1893:25c8:1946"],"CAA":null,"CNAME":null,"MX":null,"NS":null,"SOA":null,"TXT":["\"v=spf1
        -all\" "]},"dns_records_updated_at":null,"extract":{"cookies":null,"description":"","emails":null,"external_redirect_uri":{"full_uri":"http://www.example.com","host":"www.example.com","path":""},"extracted_at":"2020-07-01T07:05:17.515476635Z","favicon_sha256":"e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855","favicon_uri":{"full_uri":"http://www.example.com/favicon.ico","host":"www.example.com","path":"/favicon.ico"},"http_headers":[{"name":"Accept-Ranges","value":"bytes"},{"name":"Age","value":"598083"},{"name":"Cache-Control","value":"max-age=604800"},{"name":"Content-Type","value":"text/html;
        charset=UTF-8"},{"name":"Date","value":"Mon, 29 Jun 2020 15:12:15 GMT"},{"name":"Etag","value":"\"3147526947\""},{"name":"Expires","value":"Mon,
        06 Jul 2020 15:12:15 GMT"},{"name":"Last-Modified","value":"Thu, 17 Oct 2019
        07:18:26 GMT"},{"name":"Server","value":"ECS (dcb/7F14)"},{"name":"Vary","value":"Accept-Encoding"},{"name":"X-Cache","value":"HIT"},{"name":"Content-Length","value":"1256"}],"http_status_code":200,"links":[{"anchor":"More
        information...","attributes":{"nofollow":false,"uri":{"full_uri":"https://www.iana.org/domains/example","host":"www.iana.org","path":"/domains/example"}}}],"meta_tags":[{"name":"viewport","value":"width=device-width,
        initial-scale=1"}],"robots_txt":"","scripts":null,"styles":null,"title":"Example
        Domain","adsense_id":""},"is_CNAME":true,"is_MX":true,"is_NS":true,"is_PTR":true,"name":"www.example.com","name_without_tld":"www.example","updated_at":"2020-08-05T16:21:39.315764239Z","whois_parsed":{"admin":{"city":"","country":"","email":"","fax":"","fax_ext":"","id":"","name":"","organization":"","phone":"","phone_ext":"","postal_code":"","province":"","street":"","street_ext":""},"registrant":{"city":"","country":"","email":"","fax":"","fax_ext":"","id":"","name":"","organization":"","phone":"","phone_ext":"","postal_code":"","province":"","street":"","street_ext":""},"registrar":{"created_date":"","domain_dnssec":"","domain_id":"","domain_name":"","domain_status":"","emails":"","expiration_date":"","name_servers":"","referral_url":"","registrar_id":"","registrar_name":"","updated_date":"","whois_server":""},"tech":{"city":"","country":"","email":"","fax":"","fax_ext":"","id":"","name":"","organization":"","phone":"","phone_ext":"","postal_code":"","province":"","street":"","street_ext":""}},"whois_updated_at":null,"screenshot_url":"https://spycdn.com/screenshot/f2/f28b06a606c0533ae0c9b45595ebd17c.png","osh":63},"source":"Subdomains,
        Domains On Same Host, Certificate SAN"}],"total_count":26917,"max_view_count":10000,"offset":0,"limit":1}}

        '
  recorded_at: Sat, 15 Aug 2020 02:07:04 GMT
recorded_with: VCR 5.1.0
