---
http_interactions:
- request:
    method: post
    uri: https://api.spyse.com/v4/data/cve/search
    body:
      encoding: UTF-8
      string: '{"search_params":[{"id":{"operator":"eq","value":"CVE-2017-5754"}}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <CENSORED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"total_items":1,"offset":0,"limit":25,"items":[{"id":"CVE-2017-5754","references":{"reference_data":[{"url":"https://01.org/security/advisories/intel-oss-10003","name":"https://01.org/security/advisories/intel-oss-10003","refsource":"CONFIRM","tags":["Vendor
        Advisory"]},{"url":"https://www.synology.com/support/security/Synology_SA_18_01","name":"https://www.synology.com/support/security/Synology_SA_18_01","refsource":"CONFIRM","tags":["Third
        Party Advisory"]},{"url":"https://www.suse.com/c/suse-addresses-meltdown-spectre-vulnerabilities/","name":"https://www.suse.com/c/suse-addresses-meltdown-spectre-vulnerabilities/","refsource":"CONFIRM","tags":["Third
        Party Advisory"]},{"url":"https://support.lenovo.com/us/en/solu[...]
