---
http_interactions:
- request:
    method: post
    uri: https://api.spyse.com/v3/data/cve/search
    body:
      encoding: UTF-8
      string: '{"search_params":[{"cve_id":{"operator":"eq","value":"CVE-2017-5754"}}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <CENSORED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"items":[{"cve":{"data_type":"CVE","data_format":"MITRE","data_version":"4.0","CVE_data_meta":{"ID":"CVE-2017-5754","ASSIGNER":"cve@mitre.org"},"problemtype":{"problemtype_data":[{"description":[{"lang":"en","value":"CWE-200"}]}]},"references":{"reference_data":[{"url":"http://lists.opensuse.org/opensuse-security-announce/2018-01/msg00006.html","name":"SUSE-SU-2018:0010","refsource":"SUSE","tags":[]},{"url":"http://lists.opensuse.org/opensuse-security-announce/2018-01/msg00007.html","name":"SUSE-SU-2018:0011","refsource":"SUSE","tags":[]},{"url":"http://lists.opensuse.org/opensuse-security-announce/2018-01/msg00008.html","name":"SUSE-SU-2018:0012","refsource":"SUSE","tags":[]},{"url":"http://lists.opensuse.org/opensuse-security-announce/2018-01/msg00014.html","name":"openSUSE-SU-2018:0022","refsource":"SUSE","tags":[]},{"url":"http://lists.opensuse.org/opensuse-security-announce/2018-01/[...]
