---
http_interactions:
- request:
    method: get
    uri: https://api.spyse.com/v3/data/cert?hash=7c552ab044c76d1df4f5ddf358807bfdcd07fa57
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CENSORED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"items":[],"total_count":0,"max_view_count":10000,"offset":0,"limit":1}}

        '
  recorded_at: Sat, 15 Aug 2020 01:43:53 GMT
recorded_with: VCR 5.1.0
