---
http_interactions:
- request:
    method: get
    uri: https://api.spyse.com/v3/data/cve?cve_id=CVE-2018-11776
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CENSORED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"cve":{"data_type":"CVE","data_format":"MITRE","data_version":"4.0","CVE_data_meta":{"ID":"CVE-2018-11776","ASSIGNER":"cve@mitre.org"},"problemtype":{"problemtype_data":[{"description":[{"lang":"en","value":"CWE-20"}]}]},"references":{"reference_data":[{"url":"http://www.arubanetworks.com/assets/alert/ARUBA-PSA-2018-005.txt","name":"http://www.arubanetworks.com/assets/alert/ARUBA-PSA-2018-005.txt","refsource":"CONFIRM","tags":["Mailing
        List","Third Party Advisory"]},{"url":"http://www.oracle.com/technetwork/security-advisory/alert-cve-2018-11776-5072787.html","name":"http://www.oracle.com/technetwork/security-advisory/alert-cve-2018-11776-5072787.html","refsource":"CONFIRM","tags":["Patch","Third
        Party Advisory"]},{"url":"http://www.oracle.com/technetwork/security-advisory/cpuoct2018-4428296.html","name":"http://www.oracle.com/technetwork/security-advisory/cpuoct2018-4428296.html","refsource":"CONFIRM[...]
