---
http_interactions:
- request:
    method: get
    uri: https://api.spyse.com/v4/data/cve/CVE-2018-11776
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CENSORED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"items":[{"id":"CVE-2018-11776","references":{"reference_data":[{"url":"https://cwiki.apache.org/confluence/display/WW/S2-057","name":"https://cwiki.apache.org/confluence/display/WW/S2-057","refsource":"CONFIRM","tags":["Issue
        Tracking","Third Party Advisory"]},{"url":"https://security.netapp.com/advisory/ntap-20180822-0001/","name":"https://security.netapp.com/advisory/ntap-20180822-0001/","refsource":"CONFIRM","tags":["Third
        Party Advisory"]},{"url":"http://www.securitytracker.com/id/1041547","name":"1041547","refsource":"SECTRACK","tags":["Third
        Party Advisory","VDB Entry"]},{"url":"http://www.securityfocus.com/bid/105125","name":"105125","refsource":"BID","tags":["Third
        Part[...]
