---
http_interactions:
- request:
    method: get
    uri: https://api.spyse.com/v3/data/domain/related/ip?domain=example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CENSORED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"items":[{"ip":{"cve_list":null,"ip":"93.184.216.34","geo_data":{"city_name":"Norwell","country":"United
        States","country_iso_code":"US","location":{"lat":42.1596,"lon":-70.8217},"postal_code":"02061","region_iso_code":"MA","region_name":"Massachusetts","tz":"America/New_York","updated_at":"2020-07-23T07:38:30.812089138Z"},"isp_data":{"as_num":15133,"as_org":"EDGECAST","isp":"Verizon
        Business","org":"Verizon Business","updated_at":"2020-07-23T07:38:30.81208828Z"},"ptr_record":{"value":"","updated_at":null},"ports":[{"banner":"HTTP/1.1
        404 Not Found\r\nServer: ECS (dcb/7FA5)\r\nDate: Tue, 28 Jul 2020 02:26:59
        GMT\r\nContent-Type: text/html\r\nContent-Length: 345\r\n\r\n\u003c?xml version=\"1.0\"
        encoding=\"iso-8859-1\"?\u003e\n\u003c!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML
        1.0 Transitional//EN\"\n         \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\"\u003e\n\u003chtml
        xmlns=\"http://www.w3.org/1999/xhtml\" xml:lang=\"en\" lang=\"en\"\u003e\n\t\u003chead\u003e\n\t\t\u003ctitle\u003e404
        - Not Found\u003c/title\u003e\n\t\u003c/head\u003e\n\t\u003cbody\u003e\n\t\t\u003ch1\u003e404
        - Not Found\u003c/h1\u003e\n\t\u003c/body\u003e\n\u003c/html\u003e\n","cpe_application":"","cpe_hardware":"","cpe_os":"","device_type":"","extract":{"cookies":null,"description":"","emails":null,"external_redirect_uri":{"full_uri":"","host":"","path":""},"extracted_at":"2020-07-28T02:26:59.987219711Z","favicon_uri_sha256":"","favicon_uri":{"full_uri":"","host":"","path":""},"http_headers":[{"name":"Content-Length","value":"345"},{"name":"Content-Type","value":"text/html"},{"name":"Server","value":"ECS
        (dcb/7FA5)"},{"name":"Date","value":"Tue, 28 Jul 2020 02:26:59 GMT"}],"http_status_code":404,"links":null,"meta_tags":null,"robots_txt":"","scripts":null,"styles":null,"title":"404
        - Not Found"},"hostname":"","operation_system":"","port":80,"product":"Edgecast
        CDN httpd","service":"http","updated_at":null,"version":"","info":"dcb/7FA5"},{"banner":"HTTP/1.1
        404 Not Found\r\nServer: ECS (dcb/7FA3)\r\nDate: Tue, 28 Jul 2020 02:26:59
        GMT\r\nContent-Type: text/html\r\nContent-Length: 345\r\n\r\n\u003c?xml version=\"1.0\"
        encoding=\"iso-8859-1\"?\u003e\n\u003c!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML
        1.0 Transitional//EN\"\n         \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\"\u003e\n\u003chtml
        xmlns=\"http://www.w3.org/1999/xhtml\" xml:lang=\"en\" lang=\"en\"\u003e\n\[...]
