---
http_interactions:
- request:
    method: get
    uri: https://api.spyse.com/v4/data/domain/example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CENSORED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"items":[{"name":"example.com","alexa":{"rank":11341,"updated_at":null},"cert_summary":{"fingerprint_sha256":"200dcafa767c8450ece644879c062a0cdf52240fe05bb7eb284611c3aef3ec2e","issuer":{"country":"US","common_name":"DigiCert
        TLS RSA SHA256 2020 CA1","locality":"","organization":"DigiCert Inc","organizational_unit":"","province":"","emailAddress":""},"issuer_dn":"C=US,
        O=DigiCert Inc, CN=DigiCert TLS RSA SHA256 2020 CA1","subject":{"country":"US","common_name":"www.example.org","locality":"Los
        Angeles","organization":"Internet Corporation for Assigned Names and Numbers","organizational_unit":"Technology","province":"California","businessCategory":"","emailAddress":"","jurisdictionCountry":"","jurisdictionStateOrProvince":"","postalCode":"","serialNumber":"","street":""},"subject_dn":"C=US,
        ST=California, L=Los Angeles, O=Internet Corporation for Assigned Names and
        Numbers, CN=www.example.org","tls_version":"TLSv1.2","validity_end":"2021-12-25T23:59:59Z","updated_at":null},"dns_records":{"A":["93.184.216.34"],"AAAA":["2606:2800:220:1:248:1893:25c8:1946"],"CAA":null,"CNAME":null,"MX":[""],"NS":["a.iana-servers.net","b.iana-servers.net"],"SOA":{"email":"noc.dns.icann.org","expire":1209600,"min_ttl":3600,"ns":"ns.icann.org","refresh":7200,"retry":3600,"serial":2021022308},"TXT":["8j5nfqld20zpcyr8xjw0ydcfq9rk8hgm","v=spf1
        -all"],"SPF":[{"mechanisms":[{"name":"all","qualifier":"-","value":""}],"modifiers":null,"raw":"v=spf1
        -all","validation_errors":null,"version":"spf1"}],"updated_at":"2021-05-15T16:20:03.557300341Z"},"hosts_enrichment":[{"ip":"93.184.216.34","as_num":15133,"as_org":"edgecast","isp":"verizon
        business","city_name":"norwell","country":"united states","country_iso_code":"us","location":{"lat":42.1596,"lon":-70.8217}}],"http_extract":{"cookies":null,"description":"","emails":null,"final_redirect_url":{"full_uri":"93.184.216.34","host":"","path":"93.184.216.34"},"extracted_at":"2020-12-24T15:39:17.931478761Z","favicon_sha256":"","http_headers":[{"name":"Accept-Ranges","value":"bytes"},{"name":"Age","value":"353246"},{"name":"Cache-Control","value":"max-age=604800"},{"name":"Content-Type","value":"text/html;
        charset=UTF-8"},{"name":"Date","value":"Wed, 23 Dec 2020 15:52:12 GMT"},{"name":"Etag","value":"\"3147526947\""},{"name":"Expires","value":"Wed,
        30 Dec 2020 15:52:12 GMT"},{"name":"Last-Modified","value":"Thu, 17 Oct 2019
        07:18:26 GMT"},{"name":"Server","value":"ECS (dcb/7EEB)"},{"name":"Vary","value":"Accept-Encoding"},{"name":"X-Cache","value":"HIT"},{"name":"Content-Length","value":"1256"}],"http_status_code":200,"links":[{"anchor":"More
        information...","url":"https://www.iana.org/domains/example","url_host":"www.iana.org"}],"meta_tags":[{"name":"viewport","value":"width=device-width,
        initial-scale=1"}],"robots_txt":"","scripts":null,"styles":null,"title":"Example
        Domain"},"is_CNAME":true,"is_MX":true,"is_NS":true,"is_PTR":true,"is_subdomain":null,"name_without_suffix":"example","updated_at":"2021-05-18T14:50:22.52713816Z","whois_parsed":{"admin":{"city":"","country":"","email":"","fax":"","fax_ext":"","id":"","name":"","organization":"","phone":"","phone_ext":"","postal_code":"","province":"","street":"","street_ext":""},"registrant":{"city":"","country":"","email":"","fax":"","fax_ext":"","id":"","name":"","organization":"","phone":"","phone_ext":"","postal_code":"","province":"","street":"","street_ext":""},"registrar":{"created_date":"1995-08-14T04:00:00Z","domain_dnssec":"signedDelegation","domain_id":"2336799_DOMAIN_COM-VRSN","domain_name":"EXAMPLE.COM","domain_status":"clientDeleteProhibited,clientTransferProhibited,clientUpdateProhibited","emails":"","expiration_date":"2021-08-13T04:00:00Z","name_servers":"A.IANA-SERVERS.NET,B.IANA-SERVERS.NET","referral_url":"","registrar_id":"376","registrar_name":"RESERVED-Internet
        Assigned Numbers Authority","updated_date":"2020-08-14T07:02:37Z","whois_server":"whois.iana.org"},"tech":{"city":"","country":"","email":"","fax":"","fax_ext":"","id":"","name":"","organization":"","phone":"","phone_ext":"","postal_code":"","province":"","street":"","street_ext":""},"updated_at":null},"security_score":{"score":100},"cve_list":null,"technologies":[{"name":"Amazon
        ECS","version":""},{"name":"Azure CDN","version":""},{"name":"Amazon Web Services","version":""},{"name":"Docker","version":""}],"trackers":{"adsense_id":"","apple_itunes_app":"","google_play_app":"","google_analytics_key":"","google_site_verification":""},"organizations":null}]}}

        '
  recorded_at: Wed, 14 Jul 2021 12:41:38 GMT
recorded_with: VCR 5.1.0
