---
http_interactions:
- request:
    method: get
    uri: https://api.spyse.com/v3/data/domain/subdomain?domain=example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CENSORED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"items":[{"alexa_info":{"rank":null},"alexa_rank_updated_at":null,"cert_summary":{"fingerprint_sha256":"","issuer_dn":{"C":"","CN":"","L":"","O":"","OU":"","ST":"","emailAddress":"","raw":""},"subject_dn":{"C":"","CN":"","L":"","O":"","OU":"","ST":"","businessCategory":"","emailAddress":"","jurisdictionCountry":"","jurisdictionStateOrProvince":"","postalCode":"","raw":"","serialNumber":"","street":""},"tls_version":"","validity_end":null},"cert_summary_updated_at":null,"dns_records":{"A":null,"AAAA":null,"CAA":null,"CNAME":null,"MX":null,"NS":null,"SOA":null,"TXT":null},"dns_records_updated_at":null,"extract":{"cookies":null,"description":"","emails":null,"external_redirect_uri":{"full_uri":"","host":"","path":""},"extracted_at":null,"favicon_sha256":"","favicon_uri":{"full_uri":"","host":"","path":""},"http_headers":null,"http_status_code":null,"links":null,"meta_tags":null,"robots_txt":"","scripts":null,"styles":null,"title":"","adsense_id":""},"is_CNAME":false,"is_MX":false,"is_NS":false,"is_PTR":true,"name":"s35.denisov.example.com","name_without_tld":"s35.denisov.example","updated_at":"2020-06-23T03:55:50.351408724Z","whois_parsed":{"admin":{"city":"","country":"","email":"","fax":"","fax_ext":"","id":"","name":"","organization":"","phone":"","phone_ext":"","postal_code":"","province":"","street":"","street_ext":""},"registrant":{"city":"","country":"","email":"","fax":"","fax_ext":"","id":"","name":"","organization":"","phone":"","phone_ext":"","postal_code":"","province":"","street":"","street_ext":""},"registrar":{"created_date":"","domain_dnssec":"","domain_id":"","domain_name":"","domain_status":"","emails":"","expiration_date":"","name_servers":"","referral_url":"","registrar_id":"","registrar_name":"","updated_date":"","whois_server":""},"tech":{"city":"","country":"","email":"","fax":"","fax_ext":"","id":"","name":"","organization":"","phone":"","phone_ext":"","postal_code":"","province":"","street":"","street_ext":""}},"whois_updated_at":null,"screenshot_url":"","osh":null}],"total_count":26854,"max_view_count":10000,"offset":0,"limit":1}}

        '
  recorded_at: Sat, 15 Aug 2020 02:07:03 GMT
recorded_with: VCR 5.1.0
