---
http_interactions:
- request:
    method: get
    uri: https://api.spyse.com/v4/data/email/bill@gmail.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CENSORED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"items":[{"email":"bill@gmail.com","sources":[{"target":"hanspaulp.com","type":"site","last_seen":"2020-09-30T14:15:04.897787276Z"},{"target":"3.15.12.109","type":"port","last_seen":"2021-06-03T10:52:16.186340999Z"}],"updated_at":"2020-11-09T09:10:25.614137497Z"}]}}

        '
  recorded_at: Wed, 14 Jul 2021 12:50:27 GMT
recorded_with: VCR 5.1.0
