---
http_interactions:
- request:
    method: post
    uri: https://api.spyse.com/v4/data/domain/search
    body:
      encoding: UTF-8
      string: '{"search_params":[{"dns_a":{"operator":"eq","value":"8.8.8.8"}}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <CENSORED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"total_items":7150,"offset":0,"limit":25,"items":[{"name":"cloud.bristlecone.com","alexa":{"rank":null,"updated_at":null},"cert_summary":{"fingerprint_sha256":"d87121977ace8c209e80fa14ef47a3e8fb9a3197da79a6b79036593ba6bdf450","issuer":{"country":"US","common_name":"GTS
        CA 1C3","locality":"","organization":"Google Trust Services LLC","organizational_unit":"","province":"","emailAddress":""},"issuer_dn":"C=US,
        O=Google Trust Services LLC, CN=GTS CA 1C3","subject":{"country":"","common_name":"dns.google","locality":"","organization":"","organizational_unit":"","province":"","businessCategory":"","emailAddress":"","jurisdictionCountry":"","jurisdictionStateOrProvince":"","postalCode":"","serialNumber":"","street":""},"subject_dn":"CN=dns.google","tls_version":"TLSv1.2","validity_end":"2021-07-06T10:30:48Z","updated_at":null},"dns_records":{"A":["8.8.8.8"],"AAAA":null,"CAA":null,"CNAME":null,"MX":null,"NS":null,"SOA":null,"TXT":["google-site-verification=V0ffjEnUx4poKNqqm8uybeSfBuXg9G6dIbc_-R50TTY"],"SPF":null,"updated_at":null},"hosts_enrichment":[{"ip":"8.8.8.8","as_num":15169,"as_org":"google","isp":"google","city_name":"","country":"united
        states","country_iso_code":"us","location":{"lat":37.751,"lon":-97.822}}],"http_extract":{"cookies":null,"description":"","emails":null,"final_redirect_url":{"full_uri":"","host":"","path":""},"extracted_at":null,"favicon_sha256":"","http_headers":null,"http_status_code":null,"links":null,"meta_tags":null,"robots_txt":"","scripts":null,"styles":null,"title":""},"is_CNAME":null,"is_MX":null,"is_NS":null,"is_PTR":null,"is_subdomain":true,"name_without_suffix":"cloud.bristlecone","updated_at":"2021-05-06T13:12:30.198181857Z","whois_parsed":null,"security_score":{"score":100},"cve_list":null,"technologies":null,"trackers":{"adsense_id":"","apple_itunes_app":"","google_play_app":"","google_analytics_key":"","google_site_verification":""},"organizations":null},{"name":"susanacullen.com","alexa":{"rank":null,"updated_at":null},"cert_summary":{"fingerprint_sha256":"","issuer":{"country":"","common_name":"","locality":"","organization":"","organizational_unit":"","province":"","emailAddress":""},"issuer_dn":"","subject":{"country":"","common_name":"","locality":"","organization":"","organizational_unit":"","province":"","businessCategory":"","emailAddress":"","jurisdictionCountry":"","jurisdictionStateOrProvince":"","postalCode":"","serialNumber":"","street":""},"subject_dn":"","tls_version":"","validity_end":null,"updated_at":null},"dns_records":{"A":["8.8.8.8"],"AAAA":null,"CAA":null,"CNAME":null,"MX":["mx1.emailsrvr.com","mx2.emailsrvr.com"],"NS":["dns5.name-services.com","dns1.name-services.com","dns4.name-services.com","dns3.name-services.com","dns2.name-services.com"],"SOA":{"email":"info.name-services.com","expire":1814400,"min_ttl":3600,"ns":"dns1.name-services.com","refresh":172800,"retry":900,"serial":1550874405},"TXT":["v=spf1
        include:emailsrvr.com ~all"],"SPF":[{"mechanisms":[{"name":"include","qualifier":"+","value":"emailsrvr.com"},{"name":"all","qualifier":"~","value":""}],"modifiers":null,"raw":"v=spf1
        include:emailsrvr.com ~all","validation_errors":null,"version":"spf1"}],"updated_at":null},"hosts_enrichment":[{"ip":"8.8.8.8","as_num":15169,"as_org":"google","isp":"google","city_name":"","country":"united
        states","country_iso_code":"us","location":{"lat":37.751,"lon":-97.822}}],"http_extract":{"cookies":null,"description":"","emails":null,"final_redirect_url":{"full_uri":"","host":"","path":""},"extracted_at":null,"favicon_sha256":"","http_headers":null,"http_status_code":null,"links":null,"meta_tags":null,"robots_txt":"","scripts":null,"styles":null,"title":""},"is_CNAME":null,"is_MX":null,"is_NS":null,"is_PTR":null,"is_subdomain":null,"name_without_suffix":"susanacullen","updated_at":"2020-10-15T10:03:37.098659698Z","whois_parsed":{"admin":{"city":"","country":"","email":"","fax":"","fax_ext":"","id":"","name":"","organization":"","phone":"","phone_ext":"","postal_code":"","province":"","street":"","street_ext":""},"registrant":{"city":"","country":"","email":"","fax":"","fax_ext":"","id":"","name":"","organization":"","phone":"","phone_ext":"","postal_code":"","province":"","street":"","street_ext":""},"registrar":{"created_date":"2014-10-31T23:36:15Z","domain_dnssec":"unsigned","domain_id":"1883156459_DOMAIN_COM-VRSN","domain_name":"SUSANACULLEN.COM","domain_status":"clientTransferProhibited","emails":"","expiration_date":"2020-10-31T23:36:15Z","name_servers":"DNS3.NAME-SERVICES.COM,DNS4.NAME-SERVICES.COM,DNS5.NAME-SERVICES.COM,DNS1.NAME-SERVICES.COM,DNS2.NAME-SERVICES.COM","referral_url":"","registrar_id":"48","registrar_name":"eNom,
        LLC","updated_date":"2019-10-01T09:06:39Z","whois_server":"whois.enom.com"},"tech":{"city":"","country":"","email":"","fax":"","fax_ext":"","id":"","name":"","organization":"","phone":"","phone_ext":"","postal_code":"","province":"","street":"","street_ext":""},"updated_at":null},"security_score":{"score":100},"cve_list":null,"technologies":null,"trackers":{"adsense_id":"","apple_itunes_app":"","google_play_app":"","google_analytics_key":"","google_site_verification":""},"organizations":null},{"name":"iraretirementplan.com","alexa":{"rank":null,"updated_at":null},"cert_summary[...]
