---
http_interactions:
- request:
    method: post
    uri: https://api.spyse.com/v3/data/domain/search
    body:
      encoding: UTF-8
      string: '{"search_params":[{"domain_dns_a":{"operator":"eq","value":"8.8.8.8"}},{"domain_name":{"operator":"eq","value":"google.com"}}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <CENSORED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"items":[],"total_count":0,"max_view_count":10000,"offset":0,"limit":1}}

        '
  recorded_at: Sat, 15 Aug 2020 02:07:07 GMT
recorded_with: VCR 5.1.0
