---
http_interactions:
- request:
    method: post
    uri: https://api.spyse.com/v4/data/as/search
    body:
      encoding: UTF-8
      string: '{"search_params":[{"ip":{"operator":"eq","value":"8.8.8.8"}}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <CENSORED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"total_items":1,"offset":0,"limit":25,"items":[{"asn":15169,"as_org":"GOOGLE","ipv4_prefixes":[{"cidr":"8.8.4.0/24","isp":"Level
        3 Communications"},{"cidr":"8.8.8.0/24","isp":"Level 3 Communications"},{"cidr":"8.34.208.0/20","isp":"Google
        Cloud"},{"cidr":"8.35.192.0/20","isp":"Google Cloud"},{"cidr":"23.236.48.0/20","isp":"Google
        Cloud"},{"cidr":"23.251.128.0/19","isp":"Google Cloud"},{"cidr":"34.65.0.0/16","isp":"Google
        Cloud"},{"cidr":"34.66.0.0/15","isp":"Google Cloud"},{"cidr":"34.68.0.0/14","isp":"Google
        Cloud"},{"cidr":"34.72.0.0/13","isp":"Google Cloud"},{"cidr":"34.80[...]
