---
http_interactions:
- request:
    method: get
    uri: https://api.spyse.com/v3/data/as?asn=13335
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <CENSORED>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"items":[{"asn":13335,"as_org":"CLOUDFLARENET","ipv4_cidr":[{"cidr":"1.0.0.0/24","isp":"Cloudflare","domains_count":0},{"cidr":"1.1.1.0/24","isp":"Cloudflare","domains_count":0},{"cidr":"8.6.112.0/24","isp":"Cloudflare
        Warp","domains_count":0},{"cidr":"8.6.144.0/23","isp":"Cloudflare Warp","domains_count":0},{"cidr":"8.6.146.0/24","isp":"Cloudflare
        Warp","domains_count":0},{"cidr":"8.9.230.0/23","isp":"Cloudflare Warp","domains_count":0},{"cidr":"8.10.148.0/24","isp":"Cloudflare
        Warp","domains_count":0},{"cidr":"8.14.199.0/24","isp":"Cloudflare Warp","domains_count":0},{"cidr":"8.14.20[...]
